{% extends "allianceauth/base.html" %}
{% load static %}
{% load i18n %}

{% block page_title %}{% translate "Notifications" %}{% endblock %}

{% block content %}

    <h1 class="row page-header text-center">{% translate "Notifications" %}</h1>
    <div class="col-xl-12 ui-sortable">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#unread" data-bs-toggle="tab" class="nav-link active">
                    <span class="d-sm-none">Tab 1</span>
                    <span class="d-sm-block d-none">{% translate "Unread" %}{% if unread|length > 0 %}<span class="badge">{{ unread|length }}</span>{% endif %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#read" data-bs-toggle="tab" class="nav-link">
                    <span class="d-sm-none">Tab 2</span>
                    <span class="d-sm-block d-none">{% translate "Read" %}{% if read|length > 0 %}<span class="badge">{{ read|length }}</span>{% endif %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'notifications:mark_all_read' %}" class="btn btn-primary">{% translate "Mark All Read" %}</a>
                <a href="{% url 'notifications:delete_all_read' %}" class="btn btn-danger">{% translate "Delete All Read" %}</a>
            </li>
        </ul>


        <div class="tab-content panel rounded-0 p-3 m-0">

            <div class="tab-pane fade active show" id="unread">
                <div class="table-responsive">
                    {% if unread %}
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">{% translate "Timestamp" %}</th>
                                    <th class="text-center">{% translate "Title" %}</th>
                                    <th class="text-center">{% translate "Action" %}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for notif in unread %}
                                    <tr class="table-{{ notif.level }}">
                                        <td class="text-center">{{ notif.timestamp }}</td>
                                        <td class="text-center">{{ notif.title }}</td>
                                        <td class="text-center">
                                            <a href="{% url 'notifications:view' notif.id %}" class="btn btn-success" title="View">
                                                <span class="fas fa-eye"></span>
                                            </a>
                                            <a href="{% url 'notifications:remove' notif.id %}" class="btn btn-danger" title="Remove">
                                                <span class="fas fa-x"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-warning text-center">{% translate "No unread notifications." %}</div>
                    {% endif %}
                </div>
            </div>


            <div class="tab-pane fade" id="read">
                <div class="table-responsive">
                    {% if read %}
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">{% translate "Timestamp" %}</th>
                                    <th class="text-center">{% translate "Title" %}</th>
                                    <th class="text-center">{% translate "Action" %}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for notif in read %}
                                    <tr class="table-{{ notif.level }}">
                                        <td class="text-center">{{ notif.timestamp }}</td>
                                        <td class="text-center">{{ notif.title }}</td>
                                        <td class="text-center">
                                            <a href="{% url 'notifications:view' notif.id %}" class="btn btn-success" title="View">
                                                <span class="fas fa-eye"></span>
                                            </a>
                                            <a href="{% url 'notifications:remove' notif.id %}" class="btn btn-danger" title="remove">
                                                <span class="fas fa-x"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-warning text-center">{% translate "No read notifications." %}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
