{% if messages %}
    <br>
    {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }} alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert" style="opacity: 1;"></button>

            {% if message.level_tag == "info" %}
                <i class="fas fa-circle-question"></i>
            {% elif message.level_tag == "success" %}
                <i class="fas fa-circle-check"></i>
            {% elif message.level_tag == "warning" %}
                <i class="fas fa-circle-exclamation"></i>
            {% elif message.level_tag == "danger" %}
                <i class="fas fa-triangle-exclamation"></i>
            {% endif %}

            {{ message }}

        </div>
    {% endfor %}
{% endif %}
