{% load i18n %}
{% load static %}
{% load navactive %}
{% load evelinks %}

		<div id="header" class="app-header">
			<!-- BEGIN navbar-header -->
			<div class="navbar-header">
				<a href="/" class="navbar-brand">
                    {% if TNNT_TEMPLATE_ENTITY_ID == 1 %}
                        <img class="img-rounded" src="{{ TNNT_TEMPLATE_AA_LOGO }}?size=32" style="display: inline-block;" height="32" width="32" alt="{{ TNNT_TEMPLATE_ENTITY_NAME }}">
                    {% else %}
                        {% if TNNT_TEMPLATE_ENTITY_TYPE == 'alliance' %}
                            <img class="img-rounded" src="{{ TNNT_TEMPLATE_ENTITY_ID|alliance_logo_url:32 }}" style="display: inline-block;" height="32" width="32" alt="{{ TNNT_TEMPLATE_ENTITY_NAME }}">
                        {% elif TNNT_TEMPLATE_ENTITY_TYPE == 'corporation' %}
                            <img class="img-rounded" src="{{ TNNT_TEMPLATE_ENTITY_ID|corporation_logo_url:32 }}" style="display: inline-block;" height="32" width="32" alt="{{ TNNT_TEMPLATE_ENTITY_NAME }}">
                        {% endif %}
                    {% endif %}
                    <b class="me-1">{{ SITE_NAME }}</b>
                </a>
				<button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- END navbar-header -->
			<!-- BEGIN header-nav -->
			<div class="navbar-nav">
                <div class="navbar-item">
                    <div class="eve-time-wrapper"><b>Eve Time:</b>&nbsp;&nbsp;&nbsp;&nbsp;<span class="eve-time-clock"></span> </div>
                </div>
				<div class="navbar-item">
                    {% include 'allianceauth/notifications_menu_item.html' %}
				</div>
				<div class="navbar-item navbar-user dropdown">
                    {% include 'allianceauth/top-menu-user-dropdown.html' %}
                </div>
            </div>
        </div>
			<!-- END header-nav -->

