{% load i18n %}
{% load evelinks %}

<a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
    {% if request.user.profile.main_character %}
        {% with request.user.profile.main_character as main %}
            <img class="img-rounded ra-avatar" src="{{ main.character_id|character_portrait_url:32 }}" alt="{{ main.character_name }}">
        {% endwith %}
    {% else %}
            {% translate "Menu" %}
    {% endif %}
</a>
<div class="dropdown-menu dropdown-menu-end me-1">
    {% if request.user.profile.main_character %}
        {% with request.user.profile.main_character as main %}
            <div class="img" style="background-image: url({{ main.character_id|character_portrait_url:256 }})">
                <p class="text-center">
                        <small>{{ main.character.name }}</small><br>
                        <small>{{ main.corporation_name }}</small><br>
                    {% if main.alliance_name %}
                        <small>{{ main.alliance_name }}</small>
                    {% endif %}
                </p>
            </div>
        {% endwith %}
    <div class="dropdown-divider"></div>
    {% endif %}

    {% include 'public/lang_select.html' %}

    <div class="dropdown-divider"></div>

    <a href="{% url 'nightmode' %}?next={{ request.path|urlencode }}" class="dropdown-item">
        <i class="fas {% if NIGHT_MODE %}fa-toggle-on{% else %}fa-toggle-off{% endif %}" aria-hidden="true"></i>
        {% trans "Night Mode" %}
    </a>

    <div class="dropdown-divider"></div>

    {% if user.is_staff %}
        <a href="{% url 'admin:index' %}" target="_blank" rel="noopener noreferer" class="dropdown-item">
            <i class="fas fa-user-shield"></i>
            {% translate "Admin" %}
        </a>
    {% endif %}

    <div class="dropdown-divider"></div>

    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="dropdown-item">{% translate "Logout" %}</a>
    {% else %}
        <a href="{% url 'authentication:login' %}" class="dropdown-item">{% translate "Login" %}</a>
    {% endif %}
</div>
