    {% load i18n %}
    {% load static %}
    {% load navactive %}
    {% load evelinks %}
    {% load menu_items %}
            <aside class="app-sidebar">
                <div class="app-sidebar__logo">
                    <a class="header-brand">
                        {% if TNNT_TEMPLATE_ENTITY_ID == 1 %}
                            <img class="img-rounded" src="{{ TNNT_TEMPLATE_AA_LOGO }}?size=32" style="display: inline-block;"
                                 height="32" width="32" alt="{{ TNNT_TEMPLATE_ENTITY_NAME }}">
                        {% else %}
                            {% if TNNT_TEMPLATE_ENTITY_TYPE == 'alliance' %}
                                <img class="img-rounded" src="{{ TNNT_TEMPLATE_ENTITY_ID|alliance_logo_url:32 }}"
                                     style="display: inline-block;" height="32" width="32"
                                     alt="{{ TNNT_TEMPLATE_ENTITY_NAME }}">
                            {% elif TNNT_TEMPLATE_ENTITY_TYPE == 'corporation' %}
                                <img class="img-rounded" src="{{ TNNT_TEMPLATE_ENTITY_ID|corporation_logo_url:32 }}"
                                     style="display: inline-block;" height="32" width="32"
                                     alt="{{ TNNT_TEMPLATE_ENTITY_NAME }}">
                            {% endif %}
                        {% endif %}
                        {{ SITE_NAME }}
                    </a>
                </div>
                <ul class="side-menu app-sidebar3">
                    <li class="side-item side-item-category">Main</li>
                    <li class="slide">
                        <a class="{% navactive request 'authentication:dashboard' %}" href="{% url 'authentication:dashboard' %}">
                            <i class="fas fa-tachometer-alt fa-fw"></i> {% translate "Dashboard" %}
                        </a>
                    </li>
                    <li>
                        <a class="{% navactive request 'groupmanagement:groups' %}" href="{% url 'groupmanagement:groups' %}">
                            <i class="fas fa-users fa-fw"></i> {% translate "Groups" %}
                        </a>
                    </li>
                    {% menu_items %}
                </ul>
            </aside>
