{% load i18n %}
{% load humanize %}


    <!-- BEGIN page-header -->
    <h1 class="page-header mb-3">Dashboard</h1>
    <!-- END page-header -->

    <!-- BEGIN row -->
    <div class="row">
        <!-- BEGIN col-6 -->
        <div class="col-xl-6">
            <div class="card border-0 mb-3 overflow-hidden shadow" style="min-height: 272px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="mb-3">
                                <b>Alliance Auth Notifications</b>
                            </div>
                            <div class="row text-truncate">
                                <ul class="list-group">
                                    {% for notif in notifications %}
                                        <li class="list-group-item">
                                            {% if notif.state == 'opened' %}
                                                <span class="badge bg-success">{% translate "Open" %}</span>
                                            {% else %}
                                                <span class="badge bg-danger">{% translate "Closed" %}</span>
                                            {% endif %}
                                            <a href="{{ notif.web_url }}"
                                               target="_blank">#{{ notif.iid }} {{ notif.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-6">
            <div class="row">
                <div class="col-xl-{% if latest_beta %}4{% else %}6{% endif %} col-md-6">
                    <div class="widget widget-stats bg-gradient-cyan-blue shadow">
                        <div class="stats-icon stats-icon-lg"><i class="fa fa-comment-alt fa-fw"></i></div>
                        <div class="stats-content">
                            <div class="stats-title">{% translate "Software Version" %}</div>
                            <div class="stats-number">{{ current_version }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-{% if latest_beta %}4{% else %}6{% endif %} col-md-6">
                    <div
                        class="widget widget-stats bg-gradient-{% if latest_patch %}success{% elif latest_minor %}warning{% else %}danger{% endif %} shadow">
                        <div class="stats-icon stats-icon-lg"><i class="fa fa-comment-alt fa-fw"></i></div>
                        <div class="stats-content">
                            <div class="stats-title">{% translate "Latest Stable" %}</div>
                            <div class="stats-number">{{ latest_patch_version }}</div>
                        </div>
                        {% if not latest_patch %}
                            <div class="stats-desc">{% translate "Update available" %}</div>
                        {% endif %}
                    </div>
                </div>
                {% if latest_beta %}
                    <div class="col-xl-4 col-md-6">
                        <div class="widget widget-stats bg-gradient-warning shadow">
                            <div class="stats-icon stats-icon-lg"><i class="fa fa-comment-alt fa-fw"></i></div>
                            <div class="stats-content">
                                <div class="stats-title">{% translate "Latest Pre-Release" %}</div>
                            </div>
                            <div class="stats-number">{{ latest_beta_version }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="card border-0 mb-3 overflow-hidden shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="mb-3">
                                <b>{% translate "Task Queue" %}</b>
                            </div>
                            <div class="row text-truncate">
                                <div class="panel-body flex-center-horizontal">
                                    <p>
                                        {% blocktranslate with total=tasks_total|intcomma latest=earliest_task|timesince|default_if_none:"?" %}
                                            Status of {{ total }} processed tasks • last {{ latest }}
                                        {% endblocktranslate %}
                                    </p>

                                    <div class="progress" style="height: 21px;">
                                        {% include "allianceauth/admin-status/celery_bar_partial.html" with label="suceeded" level="success" tasks_count=tasks_succeeded %}
                                        {% include "allianceauth/admin-status/celery_bar_partial.html" with label="retried" level="info" tasks_count=tasks_retried %}
                                        {% include "allianceauth/admin-status/celery_bar_partial.html" with label="failed" level="danger" tasks_count=tasks_failed %}
                                    </div>

                                    <p>
                                        {% blocktranslate with tasks_count=task_queue_length|default_if_none:"?"|intcomma %}
                                            Queued: {{ tasks_count }}
                                        {% endblocktranslate %}

                                        {% if tasks_succeeded %}
                                            {% blocktranslate with tasks_count=tasks_succeeded|default_if_none:"?"|intcomma %}
                                                | <span class="text-success">Succeeded: {{ tasks_count }}</span>
                                            {% endblocktranslate %}
                                        {% endif %}

                                        {% if tasks_retried %}
                                            {% blocktranslate with tasks_count=tasks_retried|default_if_none:"?"|intcomma %}
                                                | <span class="text-info">Retried: {{ tasks_count }}</span>
                                            {% endblocktranslate %}
                                        {% endif %}

                                        {% if tasks_failed %}
                                            {% blocktranslate with tasks_count=tasks_failed|default_if_none:"?"|intcomma %}
                                                | <span class="text-danger">Failed: {{ tasks_count }}</span>
                                            {% endblocktranslate %}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

